 <!-- Introduction Section -->
    <section id="introduction">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Introduction</h2>
                </div>
            </div>
            <div class="row text-justify">
<div class="col-md-3">
</div>
                <div class="col-md-6">
<p> The European IoT Analytics Summit is a meeting place for both academia, government and industr
y to discuss upcoming challenges of IoT data mining, machine learning and data science methods. 
</p>
                    <p>
The  Internet of Things (IoT), the large network of physical devices that extends
 beyond the typical computer networks, will be creating a huge quantity of data 
 in real time in the next future. 
 The realization of IoT depends on being able to gain the insights hidden in the vast and growing seas of data available. 
Since current approaches don't scale to Internet of Things (IoT) volumes,
 new systems with novel mining techniques are necessary due to the velocity, but also variety, 
and variability, of such data. There is a great deal of interest in analyzing data from IoT.
</p>
<p><b>Save the Date: November 25th</b></p>
<p>The Internet of Things in the European Ecosystem
</p><p>An international conference on the legal, economic and social aspects of the Internet of Things, organised by the Chair Values And Policies of Personal Information.
</p><p>More information to come soon</p>
</div>
            </div>
        </div>
    </section>
