<!-- Location Section -->
    <section id="location">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Location</h2>
                </div>
            </div>
            <div class="row text-justify">
                <div class="col-md-8">
  <!-- Embedded Google Map using an iframe - to select your location find it on Google maps and paste the link as the iframe src. If you want to use the Google Maps API instead then have at it! -->
                    <iframe
                      src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2626.6733161698194!2d2.3442301156732483!3d48.82629427928441!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47e671975e9d2e3d%3A0x17f35deee8ffbbf1!2zVMOpbMOpY29tIFBhcmlzVGVjaA!5e0!3m2!1sen!2sfr!4v1449572803046"
                      width="600" height="450" 
                                               style="border:0"
                                               allowfullscreen></iframe>
                </div>
                <div class="col-md-4">
                  <h3>Address</h3>
                  <p>Télécom ParisTech
                  <br>46 rue Barrault<br>
                  75013 Paris
                  <br>France
                </div>    
            </div>
        </div>
    </section>
