<!-- Call for Talks Section -->
    <section id="talks">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Call for Talks</h2>
 </div>
            </div>
            <div class="row text-justify">
<div class="col-md-2">
</div>
                <div class="col-md-8">
                    <p>
The European IoT Analytics Summit is a meeting place for both
academia, government and industry to discuss upcoming challenges of
IoT data mining, machine learning and data science methods. The main
goal for this year's workshop is to bring together top researchers
from academia, as well as top data scientists from industry and
government with the special focus of evolving infrastructures for IoT.
</p><p>
EuroIoTA 2016, taking place in Paris on November 24th, will be accepting
talks proposals from June 25th, 2016 through September 5th, 2016.
Poster and Demo proposals can be submitted until October 1st, 2016.
Due to the competitive nature of the selection process, we encourage
prospective speakers to submit their proposals as early as possible.
</p><p>
The topics of interest include, but are not limited to:
</p><ul>
	<li>IoT Data Analytics,</li>
	<li>Data Mining for IoT</li>
	<li>Machine Learning for IoT</li>
	<li>IoT &amp; Data Stream Mining</li>
	<li>Infrastructures for IoT</li>
	<li>Communication Protocols</li>
	<li>IoT for manufacturing</li>
	<li>IoT Data Analytics applications
<ul>
	<li>smart cities</li>
	<li>healthcare</li>
	<li>energy</li>
	<li>environment</li>
	<li>intelligent transportation systems</li>
	<li>green mobility</li>
</ul>
</li>
</ul>
<p>We call for submissions in one of the two forms:
</p><p>
<strong>Technical talk:</strong></p><p>
Each technical talk is given 30 minutes for presentation. To submit
for a technical talk, we require a talk abstract. The organizing
committee will review the talk abstracts to make the final selection.
</p><p>
<strong>Poster and Demos:</strong></p><p>
We would like to encourage participation of practitioners and
researchers from industry and academia to submit their most recent
works to enable discussion and networking. All posters and demos on
relevant topics will be very welcomed.
</p><p>
Submit your proposal through the <a href="https://easychair.org/conferences/?conf=euroiota16">EuroIoTA 2016 Submission Site</a>.
</p>
                </div>
            </div>
    </section>
<!-- Organization Section -->
    <section id="organization">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Organization</h2>
 </div>
            </div>
            <div class="row text-justify">
<div class="col-md-2">
</div>
                <div class="col-md-8">
<ul>
<li>Albert Bifet (Chair, Telecom ParisTech)
</li><li>Michele Berlingerio (IBM)
</li><li>Talel Abdessalem (Telecom ParisTech)
</li><li>Pascal Thubert (Cisco)
</li><li>Joao Gama (University of Porto)
</li></ul>

                </div>
            </div>
    </section>
<!-- Sponsors Section -->
    <section id="Sponsors">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Sponsors</h2>
 </div>
            </div>
            <div class="row text-justify">
<div class="col-md-2">
</div>
                <div class="col-md-8">
                  <a href="https://www.universite-paris-saclay.fr/">
                    <img src="img/logo-paris-saclay.png" class="logo" alt="Université Paris-Saclay">
                  </a>
                  <a href="https://www.telecom-paristech.fr/">
                    <img src="img/logo-telecom-paristech.png"
                    class="logo" alt="Télécom ParisTech">
                  </a>
                </div>
            </div>
    </section>

