<!-- Call for Talks Section -->
    <section id="talks">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Program</h2>
 </div>
            </div>
            <div class="row text-justify">
<div class="col-md-2">
</div>
                <div class="col-md-8">

                  <p>8:00 Registration
                  </p><p>8:45-9:00 Welcome Talk by Yves Poilane, Director of Télécom ParisTech
                  </p><p>9:00-10:00 Keynote Talk: <b> Michael May</b>, Siemens Corporate Technology
</p><p>
      </p><p>            10:00-10:30 Coffee break
</p><p>
</p><p>            10:30-11:10 <b>Georges Hebrail</b>, EDF
            </p><p>      11:10-11:50 <b>Igor Carron</b>, LightOn, Sketching Data Streams at the Speed of Light

              </p><p>    11:50-12:30 <b>Keun-Woo Lim</b>, Telecom ParisTech: Variable neighborhood Prediction of temporal collective profile
</p><p>
  </p><p>                12:30-14:00 Lunch
</p><p>
</p><p>                  14:00-15:00 Keynote talk: <b>Merouane DEBBAH</b>, Huawei, 5G: a revolution or an evolution for IoT
</p><p>
</p><p>                  15:00-15:30 Coffee Break
</p><p>
</p><p>                  15:30-16:10 <b>Madhusudan Giyyarpuram</b>, Orange, Data analytics for monitoring IoT infrastructures
</p><p>                  16:10-16:50 <b>Jan van Rijn</b>, OpenML.org: Networked Science and IoT Data Streams
</p><p>                  16:50-17:40 <b>Tian Guo</b>, EPFL IoT Distributed Time Series Analytics
</p>


                </div>
            </div>
    </section>
    <!-- Registration Section -->
        <section id="registration">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 text-center">
                        <h2 class="section-heading">Registration</h2>
     </div>
                </div>
                <div class="row text-justify">
    <div class="col-md-2">
    </div>
                    <div class="col-md-8">
    <p>Registration is free but it is mandatory. Please register using <a href="https://docs.google.com/forms/d/e/1FAIpQLSdyQt0nSyNzn1uQ_ldqQ17QMQkXnGNiojl9QV-VKTyPnBvi1Q/viewform">this form.</a>
</p>
  </div>
</div>
</section>
<!-- Organization Section -->
    <section id="organization">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Organization</h2>
 </div>
            </div>
            <div class="row text-justify">
<div class="col-md-2">
</div>
                <div class="col-md-8">
<ul>
<li>Albert Bifet (Chair, Telecom ParisTech)
</li><li>Michele Berlingerio (IBM)
</li><li>Talel Abdessalem (Telecom ParisTech)
</li><li>Pascal Thubert (Cisco)
</li><li>Joao Gama (University of Porto)
</li></ul>

                </div>
            </div>
    </section>
<!-- Sponsors Section -->
    <section id="Sponsors">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Sponsors</h2>
 </div>
            </div>
            <div class="row text-justify">
<div class="col-md-2">
</div>
                <div class="col-md-8">
                  <a href="https://www.universite-paris-saclay.fr/">
                    <img src="img/logo-paris-saclay.png" class="logo" alt="Université Paris-Saclay">
                  </a>
                  <a href="https://www.telecom-paristech.fr/">
                    <img src="img/logo-telecom-paristech.png"
                    class="logo" alt="Télécom ParisTech">
                  </a>
                </div>
            </div>
    </section>
